{% macro shows_links(user) %}
<ul class="nav navbar-nav">
    <li class="{{ classActivehome }}"><a href="{{ url_for('index') }}">Home</a></li>
    {% if user and user.admin == 0 and user.expert == 0 %}
    <li class="{{ classActiveask }}"><a href="{{ url_for('ask') }}">Ask Question</a></li>
    {% endif %}
    {% if user and user.expert == 1 %}
    <li class="{{ classActiveunan or classActiveanswer }}"><a href="{{ url_for('unanswered') }}">Answer Questions</a></li>
    {% endif %}
    {% if user and user.admin == 1 %}
    <li class="{{ classActiveuser }}"><a href="{{ url_for('users_control') }}">User Setup</a></li>
    {% endif %}
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if not user %}
    <li class="{{ classActivelogin }}"><a href="{{ url_for('login') }}">Login</a></li>
    <li class="{{ classActiveregister }}"><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
    {% if user %}
    <li style="background-color: crimson"><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endif %}
  </ul>
{% endmacro %}